version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: hzrd149-nostrudel_web_1
      APP_PORT: 80
      PROXY_AUTH_ADD: "false"

  cors:
    image: ghcr.io/hzrd149/docker-cors-anywhere:0.4.5@sha256:641f5ea3265acbc339a03a72b79cd942c4bedab9b1c8b3fc13e5f3f087f649e6
    environment:
      CORSANYWHERE_REQUIRE_HEADERS: "host"
  imageproxy:
    image: ghcr.io/willnorris/imageproxy:v0.13.0@sha256:c56d6e231b068080e64a1247ab8570dbc50336838ea7277eecd86e44df9bc305
  web:
    image: ghcr.io/hzrd149/nostrudel:1.0.2@sha256:01f16d3d68666cd9632762695dbd4b6fe35aae4cc7f226b1d84ee33172625bbe
    restart: on-failure
    stop_grace_period: 1m
    init: true
    depends_on:
      - cors
      - imageproxy
    environment:
      IMAGE_PROXY: imageproxy:8080
      CORS_PROXY: cors:8080
